.example-spacer {
  flex: 1 1 auto;
}
span{
  font-size: 25px;
}

.logo{
  text-decoration: none;
  color: #ffffff;
}
.link{
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.link:hover{
  transform: translateY(-2px);
  box-shadow: 1px 2px 1px #ffffff;
}