<div class="title">
    <h1>Ver Empleado</h1>
</div>

<div class="container">
    <mat-card class="example-card card" *ngIf="employee">
        <img class="img" mat-card-image src="https://i.ibb.co/L5HXmms/programmer.png" alt="Employee">
        <mat-card-title>{{ employee.FirstName }} {{employee.LastName}}</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cupiditate, dolor deleniti autem error quam totam ex veritatis alias eius vero quaerat nihil ipsa tenetur commodi necessitatibus quas corrupti distinctio!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn" mat-raised-button routerLink="/Empleado">Volver</button>
        </mat-card-actions>
      </mat-card>
</div>



