@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind db</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Empleados</h2>
        <p>Al acceder podra agregar,modificar y eliminar empleados.</p>
        <p>@Html.ActionLink("Vamos!", "Index", "Employee")</p>
    </div>
    <div class="col-md-6">
        <h2>Categorias</h2>
        <p>Al acceder podra agregar, modificar y eliminar categorias.</p>
        <p>@Html.ActionLink("Vamos!", "Index", "Category")</p>
    </div>
</div>