@model List<Lab.EF.MVC.Models.ProductViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

@using (Html.BeginForm("Index", "ProductsMl")) {

    <div style="display:flex; justify-content:center; align-items:center" class="form-group mb-2">

        <div class="">
            <input style="font-size :20px" type="text" name="path" class="form_input form-control-plaintext" placeholder="Buscar por..." />
        </div>
        <input type="submit" value="Buscar" class="btn-lab" />

    </div>
}

@if (Model.Count == 0) {

    <div class="noProduct">
        <p>Sin productos!</p>
    </div>
} else { 

    <div class="card-container" >

        @foreach (var p in Model) {

            <div class="card col-lg-4 col-12">
                <h3 class="size">@p.Title</h3>
                <img class="card-img" src="@p.Thumbnail">
                <h2>$@p.Price</h2>
            </div>
        }
    </div>
}





