@model List<Lab.EF.MVC.Models.ProductViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

@using (Html.BeginForm("Index", "ProductsMl")) {

    <div style="display:flex; justify-content:center; align-items:center" class="form-group mb-2">

        <div class="">
            <input style="font-size :20px" type="text" name="path" class="form-control-plaintext"  placeholder="Buscar por..."/>
        </div>
         <input type="submit" value="Buscar" class="btn btn-primary" />
     
    </div>
}

<div style="display:flex; justify-content:space-around; margin:2rem 1rem">

    @foreach (var p in Model) {

        <div style="max-width: 300px; max-height: 300px; background-color:azure; border-radius:10px">
            <h3>@p.Title</h3>
            <img src="@p.Thumbnail" style="width: 100%; height: auto;">
            <h3>$@p.Price</h3> 
        </div>
    }
</div>




