@model Lab.EF.MVC.Models.DogModel
@{
    ViewBag.Title = "Index";
}

<h2>Perros Api</h2>
<div class="card-dog">
    <img src="@Model.Message" alt="Alternate Text" />
    @Html.ActionLink("Randon","Index",null, new { @class = "btn btn-success" })
</div>


