<div class="title">
  <h1>Empleados</h1>
</div>
<div class="spinner-container spiner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="!loading">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef >
        <button class="btn" mat-raised-button color="primary" [disabled]="employeesList.length==0" routerLink="/AgregarEmpleado">Nuevo empleado</button>
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: right; ">
        <a mat-icon-button  matTooltip="Ver empleado" routerLink="/VerEmpleado/{{element.Id}}">
          <mat-icon>search</mat-icon>
        </a>
        <a mat-icon-button matTooltip="Editar empleado" routerLink="/EditarEmpleado/{{element.Id}}">
          <mat-icon color="primary">edit</mat-icon>        
        </a>
        <a mat-icon-button (click)="openDialog(element.Id)" matTooltip="Eliminar empleado">
          <mat-icon color="warn">delete</mat-icon>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



